.home {
  background-color: rgb(18, 18, 18);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  justify-content: center;
  padding-top: 2.5rem;
}
.home__animeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
