.home {
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 2rem;
  justify-content: center;
}
.home__animeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
