.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;

  color: white;

  position: fixed;
  width: 100%;
  transition: all 0.1s ease-in;
  z-index: 100;
}

.navbar__black {
  background-color: black;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
}
.navbar__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background: transparent;
  color: white;
}
.navbar__left-logo {
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: none;
  color: white;
}
.navbar__left-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar__left-list-item {
  margin: 0 1rem;
  cursor: pointer;
  font-size: 0.85rem;
  text-decoration: none;
  color: white;
}
.navbar__search-input {
  background-color: rgba(126, 126, 126, 0.4);

  border: none;
  outline: none;
  /* border: 1px solid rgba(126, 126, 126, 0.4); */
  border-radius: 0.7rem;
  padding: 0.3rem 0.7rem;
  color: white;
  margin-right: 2rem;
  width: 18rem;
  position: relative;
  display: none;
}
.navbar__search-bar {
  position: absolute;
  color: lightgray;
  font-size: 0.6rem;
  top: 42%;
  right: 6%;
  display: none;
}
@media screen and (min-width: 768px) {
  .navbar__search-input,
  .navbar__search-bar {
    display: block;
  }
}
