.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;

  color: white;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
  position: fixed;
  width: 100%;
  transition: all 0.3s ease-in;
  z-index: 100;
}

.navbar__black {
  background-color: black;
}
.navbar__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  background: transparent;
  color: white;
}
.navbar__left-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar__left-list-item {
  margin: 0 1rem;
  cursor: pointer;
}
.navbar__search-input {
  background-color: rgb(16, 16, 16, 0.4);

  border: none;
  outline: none;
  border: 1px solid rgb(255, 255, 255, 0.4);
  border-radius: 0.7rem;
  padding: 0.3rem 0.5rem;
  color: white;
  margin-right: 2rem;
  width: 20rem;
}
